In [12]:
import pandas as pd
df = pd.read_csv('../Downloads/microdados_enem_2020/DADOS/MICRODADOS_ENEM_2020.csv', encoding='latin1', sep=';', nrows=500000)
df.head

<bound method NDFrame.head of         NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0       200006271946    2020               11       F                1
1       200001195856    2020               11       M                2
2       200001943954    2020                4       F                2
3       200001908998    2020                2       M                1
4       200001634757    2020                4       F                1
...              ...     ...              ...     ...              ...
499995  200004258287    2020                2       F                1
499996  200005431672    2020               11       F                1
499997  200001990914    2020                2       M                1
499998  200005626167    2020               11       F                1
499999  200002236054    2020               11       M                1

        TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  \
0                 2                 1                1               11
1                 3                 1                1               11
2                 3                 2                2                0
3                 3                 1                2                0
4                 3                 2                1                1
...             ...               ...              ...              ...
499995            2                 1                2                0
499996            1                 1                1                9
499997            1                 1                2                0
499998            3                 1                1               12
499999            1                 1                1                0

        TP_ESCOLA  ...  Q016  Q017  Q018 Q019  Q020 Q021  Q022  Q023  Q024  \
0               1  ...   NaN   NaN   NaN  NaN   NaN  NaN   NaN   NaN   NaN
1               1  ...   NaN   NaN   NaN  NaN   NaN  NaN   NaN   NaN   NaN
2               2  ...     B     A     A    B     A    A     A     A     A
3               2  ...   NaN   NaN   NaN  NaN   NaN  NaN   NaN   NaN   NaN
4               1  ...     A     A     A    B     A    B     B     A     A
...           ...  ...   ...   ...   ...  ...   ...  ...   ...   ...   ...
499995          2  ...     A     A     A    B     B    A     D     A     A
499996          1  ...     B     A     A    B     A    A     E     B     A
499997          3  ...     B     A     B    D     A    B     E     B     E
499998          1  ...     A     A     A    B     B    A     D     A     A
499999          1  ...     A     A     A    B     A    A     B     A     B

        Q025
0        NaN
1        NaN
2          A
3        NaN
4          B
...      ...
499995     B
499996     B
499997     B
499998     A
499999     B

[500000 rows x 76 columns]>

In [13]:
def alter_estado_civil(value):
    dict_states = ['Nao Informado', 'Solteiro', 'Casado', 'Divorciado', 'Viuvo']
    return dict_states[value]
df['TP_ESTADO_CIVIL'] = df['TP_ESTADO_CIVIL'].map(lambda x : alter_estado_civil(x))
df['TP_ESTADO_CIVIL'].unique()

array(['Solteiro', 'Casado', 'Nao Informado', 'Divorciado', 'Viuvo'],
      dtype=object)

In [14]:
def alter_cor_raca(value):
    map_object = ['Nao Declarado', 'Branca', 'Preta', 'Parda', 'Amarela', 'Indigena']
    return map_object[value]
df['TP_COR_RACA'] = df['TP_COR_RACA'].map(lambda x: alter_cor_raca(x))
df['TP_COR_RACA']

0          Preta
1          Parda
2          Parda
3          Parda
4          Parda
           ...
499995     Preta
499996    Branca
499997    Branca
499998     Parda
499999    Branca
Name: TP_COR_RACA, Length: 500000, dtype: object

In [15]:
def alter_nacionalidade(value):
    map_objects = ['Nao informado', 'Brasileiro', 'Brasileiro Naturalizado', 'Estrangeiro', 'Brasileiro nascido no exterior']
    if value != None:
        return map_objects[value]
    else:
        return 'Nao informado'

df['TP_NACIONALIDADE'] = df['TP_NACIONALIDADE'].map(lambda x: alter_nacionalidade(x))
df['TP_NACIONALIDADE']

0                      Brasileiro
1                      Brasileiro
2         Brasileiro Naturalizado
3                      Brasileiro
4         Brasileiro Naturalizado
                   ...
499995                 Brasileiro
499996                 Brasileiro
499997                 Brasileiro
499998                 Brasileiro
499999                 Brasileiro
Name: TP_NACIONALIDADE, Length: 500000, dtype: object

In [16]:
def alter_st_conclusao(value):
    map_objects = ['Ensino medio completo', 'Ensino medio completo em 2020', 'Ensino Medio Incompleto apos 2020', 'Sem ensino medio']
    return map_objects[value - 1]
df['TP_ST_CONCLUSAO'] = df['TP_ST_CONCLUSAO'].map(lambda x : alter_st_conclusao(x))
df['TP_ST_CONCLUSAO']

0                 Ensino medio completo
1                 Ensino medio completo
2         Ensino medio completo em 2020
3         Ensino medio completo em 2020
4                 Ensino medio completo
                      ...
499995    Ensino medio completo em 2020
499996            Ensino medio completo
499997    Ensino medio completo em 2020
499998            Ensino medio completo
499999            Ensino medio completo
Name: TP_ST_CONCLUSAO, Length: 500000, dtype: object

In [18]:
import datetime
def alter_ano_concluiu(value):
    map_objects = ['Nao Informado', 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 'Antes de 2007']
    return map_objects[value]
df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].map(lambda x: alter_ano_concluiu(x))
df['TP_ANO_CONCLUIU']

0                  2009
1                  2009
2         Nao Informado
3         Nao Informado
4                  2019
              ...
499995    Nao Informado
499996             2011
499997    Nao Informado
499998             2008
499999    Nao Informado
Name: TP_ANO_CONCLUIU, Length: 500000, dtype: object

In [15]:
df.columns
# NU_INSCRICAO -> Numero de inscrição do usuario do enem, mudar para string, utilizado para identificação, como um ID único
# NU_ANO -> Ano em que o usuário fez a prova do enem, pegando um unique, o único ano é 2020, portanto pode dropar.
# TP_FAIXA_ETARIA -> Faixa etária do usuário, onde a descrição pode ser encontrada no arquivo de desc das colunas, deixarei da forma que está, pra conseguirmos associar uma sensação de crescimento da idade, trabalhando com faixas etárias
# TP_SEXO -> M ou F, tambem podemos manter assim
# TP_ESTADO_CIVIL -> Aqui, valores inteiros não são necessários, pois não conseguimos fazer uma associação de > ou <, portanto mudei essa coluna para os respectivos valores
# TP_COR_RACA -> Segue a ideia do estado civil
# TP_ NACIONALIDADE -> Segue a ideia do estado civil
# TP_ST_CONCLUSAO -> Segue a ideia do estado civil
# TP_ANO_CONCLUIU -> Segue a ideia da faixa etária
# TP_ESCOLA
# TP_ENSINO
# IN_TREINEIRO
# CO_MUNICIPIO_ESC
# NO_MUNICIPIO_ESC
# CO_UF_ESC
# SG_UF_ESC
# TP_DEPENDENCIA_ADM_ESC
# TP_LOCALIZACAO_ESC
# TP_SIT_FUNC_ESC
# CO_MUNICIPIO_PROVA
# NO_MUNICIPIO_PROVA
# CO_UF_PROVA
# SG_UF_PROVA
# TP_PRESENCA_CN
# TP_PRESENCA_CH
# TP_PRESENCA_LC
# TP_PRESENCA_MT
# CO_PROVA_CN
# CO_PROVA_CH
# CO_PROVA_LC
# CO_PROVA_MT
# NU_NOTA_CN
# NU_NOTA_CH
# NU_NOTA_LC
# NU_NOTA_MT
# TX_RESPOSTAS_CN
# TX_RESPOSTAS_CH
# TX_RESPOSTAS_LC
# TX_RESPOSTAS_MT
# TP_LINGUA
# TX_GABARITO_CN
# TX_GABARITO_CH
# TX_GABARITO_LC
# TX_GABARITO_MT
# TP_STATUS_REDACAO
# NU_NOTA_COMP1
# NU_NOTA_COMP2
# NU_NOTA_COMP3
# NU_NOTA_COMP4
# NU_NOTA_COMP5
# NU_NOTA_REDACAO
# Q001
# Q002
# Q003
# Q004
# Q005
# Q006
# Q007
# Q008
# Q009
# Q010
# Q011
# Q012
# Q013
# Q014
# Q015
# Q016
# Q017
# Q018
# Q019
# Q020
# Q021
# Q022
# Q023
# Q024
# Q025

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')